table {
  border-collapse: collapse;
}
th, td {
  border: solid black 1px;
  padding: 10px;
}
th {
  text-align: left;
}
#table_name {
  text-align: center;
}
.warning {
  color: orange;
  font-weight: bold;
}
